[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-ninja = "*"
python-dotenv = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = {extras = ["email"], version = "*"}
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.14"
